.time-range {
  font-size: clamp(0.8rem, 1.4vw, 1.6rem);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  text-align: center;
}

.circle-inner {
  position: absolute;
  inset: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.circle-container {
  width: 360px;
  height: 360px;
  position: relative;
  margin: 0 auto;
}
